name: "Check for Sync Freeze"
on:
- pull_request_target
- workflow_dispatch

jobs:
  check-distro-freeze:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repo
      uses: actions/checkout@v2
      with:
        # We always want to checkout the 'main' branch as that tells us
        # the current state of the sync freezes
        ref: 'main'

    - name: Sync Freeze Check
      uses: ./.github/actions/sync-freeze
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
